<div class="container">
  <div class="card">
    <h1 class="card__title">LOGIN</h1>

    <form class="card__form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
      <div class="card__form-inputs">
        <div class="mb-3">
          <label class="form-label">Usuario</label>
          <input type="email" class="form-control" formControlName="user" />
        </div>

        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>
      </div>
      <div class="card__form-button">
        <button class="btn btn-dark" type="submit">Ingresar</button>
      </div>
    </form>

    <p *ngIf="messageValid">Mensaje: {{ messageValid }}</p>
    <p *ngIf="formLocalStorage">
      La contraseña guardada es: {{ formLocalStorage | json }}
    </p>
  </div>
</div>
